<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChk-MPQaZd4qRGbStihm5FRP9tZ9So07Q</string>
	<key>GCM_SENDER_ID</key>
	<string>461049299837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lesson3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lesson-3---flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>lesson-3---flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461049299837:ios:65b387dab41a53d9b04214</string>
</dict>
</plist>